---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PatentIQ - Hello World</title>
	</head>
	<body>
		<h1>Hello World from PatentIQ</h1>
		<p>Astro 5 + Flask Application</p>
	</body>
</html>
